.button {
  width: fit-content;
  height: fit-content;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
}

.orange {
  background-color: rgb(250, 193, 155);
  border-color: rgba(239, 111, 25, 0.586);
}

.purple {
  background-color: #e6e6fafa;
  border-color: rgb(45, 0, 71, 0.5);
}

.xs {
  font-size: 14px;
  padding: 5px 9px;
}

.md {
  font-size: 18px;
  padding: 8px 16px;
}
